.main-display
  .main-header
    .main-header__logo-box
      Book Stock      
    .main-header__conent__box
      .main-header__conent__box__text
        = link_to root_path(current_user) do
          トップページ 
      .main-header__conent__box__text
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      .main-header__conent__box__text
        = link_to edit_user_path(current_user) do
          ユーザー編集    
      .main-header__conent__box__text
        よくあるご質問  

  .main-second-header
    .main-second-header__user-name
      = current_user.name 
    .main-second-header__content__search-box
      本を検索する 
    .main-second-header__content__btn-box
      = link_to "https://www.facebook.com/", class: "content__btn content__btn__facebook" do
        = icon('fab', 'facebook-square',  class: "content__btn__icon")
        facebook
      = link_to "https://twitter.com/", class: "content__btn content__btn__twitter" do
        = icon('fab', 'twitter', class: "content__btn__icon")
        twitter
      = link_to "https://www.instagram.com/", class: "content__btn content__btn__instagram" do
        = icon('fab', 'instagram', class: "content__btn__icon")
        instagram
