= render partial: 'shared/header_1'

.MypageView  
  .MypageContainer
    .Side-var
      .Mypage-nav
        %ul.Mypage-nav__list
          %li.Mypage-nav__list__item-top マイページ
        = link_to profile_edit_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name プロフィール
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to new_book_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 本を登録
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to all_books_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name マイブック
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        %h3.Mypage-nav__head ジャンル
        %ul.Mypage-nave__list
        = link_to business_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name ビジネス
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x 
        = link_to self_enlightenment_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 自己啓発
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to money_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name マネー
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x      
        = link_to politics_economy_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 政治／経済
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to study_skill_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 勉強／スキル
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x 
        = link_to cooking_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 料理
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to hobby_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 趣味
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to health_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 健康
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to entertainment_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 芸能
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to parenting_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 子育て
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to novel_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 小説
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to comic_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 漫画
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to life_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 生活
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to genre_etc_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name その他
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x 
        %h3.Mypage-nav__head 読書媒体
        %ul.Mypage-nave__list
        = link_to real_book_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name リアル本
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to e_book_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name 電子書籍
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to paper_white_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name Paperwhite
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to audio_book_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name オーディオブック
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
        = link_to item_etc_user_path(current_user) do
          %li.Mypage-nav__list__item
            .item-name その他
            .icon-arrow-right
              .fa.fa-caret-right.fa-2x
    .Main-content_my
      .user-top
        .user-icon-box
          = link_to profile_edit_user_path(current_user) do
            .user-icon
              - if current_user.user_image.present?
                = image_tag current_user.user_image.url, class: "user-image_set"
              - else 
                = image_tag 'default_user.png', class: "user-icon"
        .user-right-info
          .register-name
            = link_to profile_edit_user_path(current_user) do
              = current_user.name
          .count-box  
            .count-title
              登録本数
            .count-books
              = @book.count      
      %ul.status-tab
        = link_to all_books_user_path(current_user) do
          %li.tab-list すべて
        = link_to read_books_user_path(current_user) do
          %li.tab-list 読書済み
        = link_to reading_books_user_path(current_user) do
          %li.tab-list  読書中
        = link_to will_read_books_user_path(current_user) do
          %li.tab-list.active  未読
        = link_to interested_user_path(current_user) do
          %li.tab-list  興味有り
      .books-area
        - if @books.count == 0
          .contents-book-none
            該当する本はありません
        - else
          - @books.each do |book|
            %ul.book-list
              = link_to my_books_show_user_path(book) do
                .book-image
                  = image_tag book.image.to_s
                  .book-genre-tag
                    = book.genre
                  .book-status
                    .book-status__title
                      = book.status
                .book-title
                  = book.title
      .bottom-space
        .pagenation
          = paginate(@books)

= render partial: 'shared/footer_1'