.books-area_mp
  .case-block
    .case-info
      .content_keyword
        = @keyword
      .case_count
        = @books.count
      .case_num 件
  - if @books.count == 0
    .contents-book-none
      該当する本はありません
  - else
    - @books.each do |book|
      %ul.book-list
        = link_to my_books_show_user_path(book) do
          .book-image
            = image_tag book.image.to_s
            - if book.genre == "ビジネス"
              .book-genre-tag.business
                ビジネス
            - elsif book.genre == "自己啓発"
              .book-genre-tag.self_enlightenment
                自己啓発
            - elsif book.genre == "マネー"
              .book-genre-tag.money
                マネー
            - elsif book.genre == "政治／経済"
              .book-genre-tag.politics_economy
                政治／経済
            - elsif book.genre == "勉強／スキル"
              .book-genre-tag.study_skill
                勉強／スキル
            - elsif book.genre == "料理"
              .book-genre-tag.cooking
                料理
            - elsif book.genre == "趣味"
              .book-genre-tag.hobby
                趣味
            - elsif book.genre == "健康"
              .book-genre-tag.health
                健康
            - elsif book.genre == "スポーツ"
              .book-genre-tag.sports
                スポーツ
            - elsif book.genre == "芸能"
              .book-genre-tag.entertainment
                芸能
            - elsif book.genre == "子育て"
              .book-genre-tag.parenting
                子育て
            - elsif book.genre == "小説"
              .book-genre-tag.novel
                小説
            - elsif book.genre == "漫画"
              .book-genre-tag.comic
                漫画
            - elsif book.genre == "生活"
              .book-genre-tag.life
                生活
            - else book.genre == "その他"
              .book-genre-tag.genre_etc
                その他
            .book-status
              .book-status__title
                = book.status
          .book-title
            = book.title