.MainDisplay
  .MainHeader
    .logo-box
      = link_to home_index_path(current_user) do
        Book Stock     
    %ul.conent-list
      .conent-list__item
        = link_to new_user_session_path do
          新規登録
      .conent-list__item
        = link_to user_session_path do
          ログイン  
      .conent-list__item
        = link_to edit_user_path(current_user) do
          アカウント編集
      .conent-list__item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log-out_btn'
      .conent-list__item
        = link_to user_session_path do
          アプリについて           

  .MainSecondHeader_ma
    .name-box_ma
      .user-name_ma
        = current_user.name
    .search-box_ma
      = form_tag(search_books_path, method: 'get') do
        = text_field_tag :keyword, '', placeholder: "本を検索する", class: "search-box_ma__input_ma" 
        = submit_tag '検索', class: "search-btn_ma" , name: nil

    .social-box_ma
      = link_to "https://www.facebook.com/", class: "social-btn social-btn__facebook" do
        = icon('fab', 'facebook-square',  class: "content__btn__icon")
        facebook
      = link_to "https://twitter.com/", class: "social-btn social-btn__twitter" do
        = icon('fab', 'twitter', class: "content__btn__icon")
        twitter
      = link_to "https://www.instagram.com/", class: "social-btn social-btn__instagram" do
        = icon('fab', 'instagram', class: "social-btn__icon")
        instagram

  .MainRegisters
    .Registers-box
      .contents-top
        .Registers-top
          .title
            .title__icon
              .fa.fa-book
            .title__name
              ジャンル別
          %ul.tag-box
            = link_to books_path(current_user) do
              %li.tag-box__left
                最新登録順
            = link_to evaluation_all_book_path(current_user) do
              %li.tag-box__center
                ⭐️ 評価別
            = link_to genre_all_book_path(current_user) do
              %li.tag-box__right
                ジャンル別
        .genre-box
          %ul.box-upper
            = link_to business_book_path(current_user) do
              %li.genre.business
                ビジネス
            = link_to self_enlightenment_book_path(current_user) do
              %li.genre.self_enlightenment
                自己啓発
            = link_to money_book_path(current_user) do
              %li.genre.money
                マネー
            = link_to politics_economy_book_path(current_user) do
              %li.genre.politics_economy
                政治／経済
            = link_to study_skill_book_path(current_user) do
              %li.genre.study_skill
                勉強／スキル
            = link_to cooking_book_path(current_user) do
              %li.genre.cooking
                料理
            = link_to hobby_book_path(current_user) do
              %li.genre.hobby
                趣味
          %ul.box-lower
            = link_to health_book_path(current_user) do
              %li.genre.health
                健康
            = link_to sports_book_path(current_user) do
              %li.genre.sports
                スポーツ
            = link_to entertainment_book_path(current_user) do
              %li.genre.entertainment
                芸能
            = link_to parenting_book_path(current_user) do
              %li.genre.parenting
                子育て
            = link_to novel_book_path(current_user) do
              %li.genre.novel
                小説
            = link_to comic_book_path(current_user) do
              %li.genre.comic
                漫画
            = link_to life_book_path(current_user) do
              %li.genre.life
                生活
            = link_to genre_etc_book_path(current_user) do
              %li.genre.genre_etc
                その他
      .books-box
        - if @books.count == 0
          .book-none
            該当する本はありません
        - else
          - @books.each do |book|
            .book-list
              = link_to book_path(book) do
                .book-image
                  = image_tag book.image.to_s  
                  .book-genre-tag
                    = book.genre
                .book-title
                  = book.title
      .bottom-space_sea
        .pagenation
          = paginate(@books)
          
  .footer
    .logo
      Book Stock
    .sub
      Copyright &copy; Kazuki Kouno All rights reserved