.MainHeader_top
  .logo-box
    = link_to home_index_path(current_user) do
      Book Stock
  %ul.conent-list
    - if user_signed_in?
      %li.conent-list__item
        = link_to books_path(current_user) do
          トップページ
      %li.conent-list__item
        = link_to edit_user_path(current_user) do
          アカウント編集
      %li.conent-list__item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log-out_btn'
      %li.conent-list__item
        = link_to app_description_home_index_path do
          アプリについて
    - else
      %li.conent-list__item
        = link_to books_path(current_user) do
          トップページ
      %li.conent-list__item
        = link_to new_user_session_path do
          新規登録
      %li.conent-list__item
        = link_to user_session_path do
          ログイン
      %li.conent-list__item
        = link_to app_description_home_index_path do
          アプリについて        
.MainSecondHeader_ma
  .name-box_ma
    .name-label
      Nickname
    .user-name_ma
      - if user_signed_in? 
        = current_user.name
      - else
        未ログイン
  .search-box_ma
    = form_tag(search_books_path, method: 'get') do
      = text_field_tag :keyword, '', placeholder: "本を検索する", class: "search-box_ma__input_ma" 
      = submit_tag '検索', class: "search-btn_ma" , name: nil
  .social-box_ma
    = link_to "https://www.facebook.com/", class: "social-btn social-btn__facebook" do
      = icon('fab', 'facebook-square',  class: "content__btn__icon")
    = link_to "https://twitter.com/", class: "social-btn social-btn__twitter" do
      = icon('fab', 'twitter', class: "content__btn__icon")
    = link_to "https://www.instagram.com/", class: "social-btn social-btn__instagram" do
      = icon('fab', 'instagram', class: "social-btn__icon")