.MainHeader
  .logo-box
    = link_to home_index_path(current_user) do
      Book Stock     
  %ul.content-list
    - if user_signed_in? 
      %li.content-list__item
        = link_to books_path(current_user) do
          トップページ
      %li.content-list__item
        = link_to edit_user_path(current_user) do
          アカウント編集    
      %li.content-list__item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log-out_btn'
      %li.content-list__item
        = link_to app_description_home_index_path(current_user) do
          アプリについて
    - else
      %li.content-list__item
        = link_to books_path(current_user) do
          トップページ
      %li.content-list__item
        = link_to new_user_session_path do
          新規登録
      %li.content-list__item
        = link_to user_session_path do
          ログイン
      %li.content-list__item
        = link_to app_description_home_index_path(current_user) do
          アプリについて

.MainSecondHeader
  .name-box
    .name-label
      Nickname
    .user-name
      - if user_signed_in? 
        = current_user.name
      - else
        未ログイン
  .search-box
    = form_tag(search_books_path, method: 'get') do
      = text_field_tag :keyword, '', placeholder: "本を検索する", class: "search-box__input" 
      = submit_tag '検索', class: "search-btn" , name: nil
    
  .social-btn
    = link_to "https://www.facebook.com/", class: "social-btn social-btn__facebook" do
      = icon('fab', 'facebook-square',  class: "content__btn__icon")
    = link_to "https://twitter.com/", class: "social-btn social-btn__twitter" do
      = icon('fab', 'twitter', class: "content__btn__icon")
    = link_to "https://www.instagram.com/", class: "social-btn social-btn__instagram" do
      = icon('fab', 'instagram', class: "social-btn__icon")

- if user_signed_in? 
  .MypageHeader 
    %ul.content-list    
      = link_to my_page_user_path(current_user) do    
        %li.content-list__item
          マイページ
      = link_to new_book_path(current_user) do
        %li.content-list__item
          本を登録
      = link_to all_books_user_path(current_user) do
        %li.content-list__item
          マイブック
      = link_to genre_all_book_path(current_user) do    
        %li.content-list__item
          ジャンル
      = link_to evaluation_all_book_path(current_user) do
        %li.content-list__item
          ユーザー評価
      = link_to item_all_user_path(current_user) do
        %li.content-list__item
          読書媒体 