.MypageView
  = render partial: 'shared/mypage_top'
  .MypageContainer
    = render partial: 'shared/my_side_var'
    .Main-content_my
      = render partial: 'shared/user_top'
      = render partial: 'shared/books-area_contents'
      .bottom-space_myp
        .pagenation
          = paginate(@books)