- if user_signed_in?
  .mypage-side      
    .contents-var
      %ul.contents
        = link_to my_page_user_path(current_user) do
          %li.content-btn_my
            My Page
        = link_to new_book_path(current_user) do   
          %li.content-btn
            .content-name     
              本を登録
            .content-sub-name
              Register Books
        = link_to all_books_user_path(current_user) do      
          %li.content-btn
            .content-name
              マイブック
            .content-sub-name
              Registered Books
        = link_to genre_all_user_path(current_user) do      
          %li.content-btn
            .content-name
              ジャンル
            .content-sub-name
              Genre of Books
        = link_to item_all_user_path(current_user) do                  
          %li.content-btn
            .content-name
              読書媒体
            .content-sub-name
              Reading Item
- else
  .mypage-side_2
    .contents-var_2
      .contents_2
        .content-btn_my_2
          %input{:onclick => "window.alert('ログインしてください。')", :type => "button", :value => "My Page", class: "item_my"}/
          %input{:onclick => "window.alert('ログインしてください。')", :type => "button", :value => "本を登録", class: "content-btn"}/
          %input{:onclick => "window.alert('ログインしてください。')", :type => "button", :value => "マイブック", class: "content-btn"}/
          %input{:onclick => "window.alert('ログインしてください。')", :type => "button", :value => "ジャンル", class: "content-btn"}/
          %input{:onclick => "window.alert('ログインしてください。')", :type => "button", :value => "読書媒体", class: "content-btn"}/