.MainDisplay
  .MainHeader
    .logo-box
      = link_to home_index_path(current_user) do
        Book Stock     
    %ul.conent-list
      %li.conent-list__item
        = link_to new_user_session_path do
          新規登録 
      %li.conent-list__item
        = link_to user_session_path do
          ログイン   

  .middle-display
    .introduction_box
      .logo
        Book Stock
      .text
        %p「Book Stock」は、皆さんがお持ちの本を視覚的に
        %p一元管理してくれるアプリです。
        %br本は、読む人によって内容以外にも様々な" 要素 "を
        %p持ちます。
        %br沢山の要素を持つ沢山の本を、この1つのアプリで
        %p効率良く管理してみましょう！
      .btn_box
        = link_to registers_path(current_user) do   
          .btn
            Appを使う
        = link_to registers_path(current_user) do    
          .btn 
            Appの解説         
  = render partial: 'shared/footer_1'           