.main-display
  .main-header
    .main-header__logo-box
      = link_to home_index_path(current_user) do
        Book Stock      
    .main-header__conent__box
      -# .main-header__conent__box__text
      -#   = link_to registers_path(current_user) do
      -#     トップページ
      .main-header__conent__box__text
        = link_to new_user_session_path do
          ユーザー新規登録
      .main-header__conent__box__text
        = link_to user_session_path do
          ログイン
      .main-header__conent__box__text
        よくあるご質問
  .middle-display
    .introduction_box
      .logo
        Book Stock
      .text
        %p「Book Stock」は、皆さんがお持ちの本を視覚的に
        %p一元管理してくれるアプリです。
        %br本は、読む人によって内容以外にも様々な" 要素 "を
        %p持ちます。
        %br沢山の要素を持つ沢山の本を、この1つのアプリで
        %p効率良く管理してみましょう！
      .btn_box
        = link_to registers_path(current_user) do   
          .app_btn
            Appを使う
        = link_to registers_path(current_user) do    
          .description_btn 
            Appの解説         
  .footer
    .logo
      Book Stock
    .sub
      Copyright &copy; Kazuki Kouno All rights reserved            