.MainDisplay
  .MainHeader
    .logo-box
      = link_to home_index_path(current_user) do
        Book Stock     
    %ul.conent-list
      .conent-list__item
        = link_to new_user_session_path do
          新規登録
      .conent-list__item
        = link_to user_session_path do
          ログイン  
      .conent-list__item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      .conent-list__item
        = link_to edit_user_path(current_user) do
          アカウント編集
      .conent-list__item
        = link_to user_session_path do
          アプリについて           

  .MainSecondHeader_ma
    .name-box_ma
      .user-name_ma
        = current_user.name
    .search-box_ma
      = form_tag(search_books_path, method: 'get') do
        = text_field_tag :keyword, '', placeholder: "本を検索する", class: "search-box_ma__input_ma" 
        = submit_tag '検索', class: "search-btn_ma" , name: nil

    .social-box_ma
      = link_to "https://www.facebook.com/", class: "social-btn social-btn__facebook" do
        = icon('fab', 'facebook-square',  class: "content__btn__icon")
        facebook
      = link_to "https://twitter.com/", class: "social-btn social-btn__twitter" do
        = icon('fab', 'twitter', class: "content__btn__icon")
        twitter
      = link_to "https://www.instagram.com/", class: "social-btn social-btn__instagram" do
        = icon('fab', 'instagram', class: "social-btn__icon")
        instagram

  .MainRegisters
    .Registers-box
      .Registers-top
        .title
          .title__icon
            .fa.fa-book
          .title__name
            登録本一覧 
        %ul.tag-box
          %li.tag-box__left
            最新順
          %li.tag-box__center
            イイね数
          %li.tag-box__right
            コメント数
        .genre-box
          .name
            ジャンル
          .select-box
            = select_tag 'book[genre]', options_for_select(["-- 選択してください --","ビジネス", "自己啓発", "マネー", "政治／経済", "勉強／スキル", "料理", "趣味", "健康", "スポーツ", "子育て", "小説", "漫画", "生活", "その他"])
      .books-box
        - @books.each do |book|
          .book-list
            = link_to book_path(book) do
              .book-image
                = image_tag book.image.to_s  
                .book-genre-tag
                  = book.genre
              .book-title
                = book.title

      .bottom-space
        .pages
          page1
  .footer
    .logo
      Book Stock
    .sub
      Copyright &copy; Kazuki Kouno All rights reserved 


      

      
