.mypage-side      
  .contents-var
    %ul.contents
      = link_to my_page_user_path(current_user) do
        %li.my-page-btn
          My Page
      = link_to new_book_path(current_user) do   
        %li.content-btn
          .content-name     
            本を登録
          .content-sub-name
            Register Books
      = link_to all_books_user_path(current_user) do      
        %li.content-btn
          .content-name
            マイブック
          .content-sub-name
            Registered Books
      = link_to books_path(current_user) do      
        %li.content-btn
          .content-name
            ジャンル
          .content-sub-name
            Genre of Books
      = link_to books_path(current_user) do                  
        %li.content-btn
          .content-name
            読書媒体
          .content-sub-name
            Reading Item
      
