= render partial: 'shared/header_1' 

.BookEdit 
  .title-box_be
    .icon
      .fa.fa-edit
    .content-title
      本を編集する
  .form
    = form_for @book do |f|
      .registers-box
        .Left-side
          .title-line_img
            .title
              イメージ
            .optional
              任意
          .Left-upper_form
            .image-form
              = f.label :image, class: "book-image" do
                .prev-contents
                  - if @book.image.present?
                    .prev-content
                      = image_tag @book.image
                  - else
                    = image_tag 'default_book.png', class: "book-icon"
                = f.file_field :image, class: 'hidden'
          .title-form
            .title-line
              .title
                タイトル
              .required
                必須
            = f.text_field :title, class: 'left-input_form', placeholder: '-- type a title --', autofocus: true, required:''
          .publisher-form
            .title-line
              .title
                出版社
              .optional
                任意
            = f.text_field :publisher, class: 'left-input_form', placeholder: '-- type a publisher --'
          .author-form
            .title-line
              .title
                著者
              .optional
                任意
            = f.text_field :author, class: 'left-input_form', placeholder: '-- type an author --'

        .Right-side
          .upper-box_n
            .status-form
              .title-line
                .title
                  読書ステータス
                .required
                  必須
              = f.select :status, [["読書済み"], ["読書中"], ["未読"], ["興味あり"]], {}, class: 'right-select_form', required:''
            .genre-form
              .title-line
                .title
                  ジャンル
                .required
                  必須 
              = f.select :genre, [["ビジネス"], ["自己啓発"], ["マネー"], ["政治／経済"], ["勉強／スキル"], ["料理"], ["趣味"], ["健康"], ["スポーツ"], ["芸能"], ["子育て"], ["小説"], ["漫画"], ["生活"], ["その他"]], {}, class: 'right-select_form', required:''
          .middle-box_n
            .item-form
              .title-line
                .title
                  読書媒体
                .optional
                  任意  
              = f.select :item, [["-- 未登録 --"], ["リアル書籍"], ["電子書籍"], ["Paperwhite"], ["オーディオブック"], ["その他"]], {}, class: 'right-select_form'
            .buy_date-form
              .title-line
                .title
                  購入日
                .optional
                  任意  
              = f.date_field :buy_date, class: 'right-select_form', placeholder: '-- type purchase date --'
          .lower-box_n
            .evaluation-form
              .title-line
                .title
                  5段階評価
                .optional
                  任意
              = f.select :evaluation, [["-- 未登録 --"],  ["⭐️⭐️⭐️⭐️⭐️"], ["⭐️⭐️⭐️⭐️☆"], ["⭐️⭐️⭐️☆☆"], ["⭐️⭐️☆☆☆"], ["⭐️☆☆☆☆"]], {}, class: 'right-select_form'
            .memo-form
              .title-line
                .title
                  memo
                .optional
                  任意  
              = f.text_area :memo, class: 'area_form_2', placeholder: '-- type memos --'
          .impression-form
            .title-line
              .title
                レビュー
              .optional
                任意  
            = f.text_area :impression, class: 'area_form', placeholder: '-- type impressions --'
          .btn-box
            = f.submit '更新', class: 'book-edit_btn'
            = link_to "/books/#{@book.id}", method: :delete, class:"delete_btn" do
              %p.text
                削除
            = link_to "戻る", :back, class: 'back_btn'
            
= render partial: 'shared/footer_1'