.MainDisplay
  = render partial: 'shared/header_1' 
  
  .main-registers
    .registers-box
      .title-box
        .icon
          .fa.fa-book
        .title
          My登録本一覧 
        .status-tag-box
          .status-tag-box__first
            すべて       
          .status-tag-box__second
            読書済
          .status-tag-box__third
            未読 
          .status-tag-box__fourth
            興味有り         

      .books-box-top
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
      
      .books-box-middle
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title

      .books-box-bottom
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
            
      .bottom-space
        .pages
          page1
        = link_to "戻る", :back, class: 'btn'

  = render partial: 'shared/footer_1'                  
   
                
            