.MainDisplay
  - if user_signed_in?
    = render partial: 'shared/header_1'
  - else
    = render partial: 'shared/header_2'

  .main-registers
    .registers-box
      .title-box
        .icon
          .fa.fa-search
        .title
          検索結果  

      .books-box-top
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title    

      .books-box-middle
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title    

      .books-box-bottom
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title
        = link_to book_path(current_user) do
          .book-list
            .book-image
              .book-genre-tag
              .book-status
                .book-status__title
            .book-title    
        
      .bottom-space
        .pages
          page1
        = link_to "戻る", :back, class: 'btn'            
  .footer
    .logo
      Book Stock
    .sub
      Copyright &copy; Kazuki Kouno All rights reserved   
                
            