.SearchDisplay
  - if user_signed_in?
    = render partial: 'shared/header_1'
  - else
    = render partial: 'shared/header_2'

  .Search-box
    .title-box_sea
      .icon
        .fa.fa-search
      .title
        = "' #{params[:keyword]} ' の検索結果"
      .pagination_sea
        = paginate(@books)
    .books-area_s
      - @books.each do |book|
        .book-list_s
          = link_to book_path(book) do
            .book-image
              = image_tag book.image.to_s  
              .book-genre-tag
                = book.genre
            .book-title
              = book.title        

  = render partial: 'shared/footer_1'  
