= render partial: 'shared/header_1' 

.MainDisplay_bs
  .title-box_bs
    .icon
      .fa.fa-book
    .content-title
      本の詳細
  .form_bs
    .registers-box_bs
      .Left-side
        .registered-user
          .user-left
            .registant
              登録ユーザー
            .name
              = link_to @book.user.name, "/users/#{@book.user_id}"
              -# = link_to book.user.name, "/users/#{user.book_id}"
              -# = link_to user_path do
              -#   = @book.user.name
          .user-image_box
            = image_tag @user.user_image
            -# = link_to @book.user.user_image, "/users/#{@book.user_id}"
            -# = image_tag @user.user_image
            -# = link_to @book.user.user_image, "/users/#{@book.user_id}"
            -#   = image_tag @user.user_image
            -# = link_to user_path do
            -#   = image_tag @user.user_image
            -# = link_to @book.users_path(book.user)
            -# = link_to @book.user.name, users_path(@book.user.id)
        .Left-image_form
          .image-box_bs
            = image_tag @book.image
        .title-form
          .title-line
            .title
              タイトル :
          .left-input_result_bs
            = @book.title
      .Right-side_bs
        .upper-box
          .publisher-form
            .title-line
              .title
                出版社 :
            .right-select_box
              = @book.publisher
          .author-form
            .title-line
              .title
                著者 :
            .right-select_box
              = @book.author
        .lower-box
          .item-form
            .title-line
              .title
                ジャンル :
            .right-select_box
              = @book.genre
          .buy_date-form
            .title-line
              .title
                ユーザー5段階評価 :
            .right-select_box
              = @book.evaluation
        .update-form
          .title-line
            .title
              最終更新日 :
          .right-select_box_bs
            = @book.updated_at.strftime("%Y-%m-%d")  
        .impression-form_bs
          .title-line
            .title
              登録者レビュー :
        .area_box_bs
          = @book.impression

  

  //①
  -# = render partial: 'shared/like' 

  //②
  -# %h3 いいね件数: #{@book.likes.count}
  -# - if current_user.already_liked?(@book)
  -#   = button_to 'いいねを取り消す', book_like_path(@book), method: :delete
  -# - else
  -#   = button_to 'いいね', book_likes_path(@book)
  -# %h2 いいねしたユーザー:
  -# - @book.liked_users.each do |user|
  -#   %li= user.nickname
  -# = link_to "トップへ戻る", books_path
 
  //③
  -# %div{:class => "buttons_#{@book.id}"}= render partial: 'likes/like'
  -# - @like_count = Like.where(book_id: params[:book_id]).count

  //④
  -# .item-button-container
  -#   .item-button-container__left
  -#     = render partial: 'likes/like', locals: { book: @book, books: @books, likes: @likes, like: @like}

  //⑤
  -# - if user_signed_in?
  -#   - if @book.like_by?(current_user)
  -#     %span いいね解除:
  -#     = link_to @book.likes.count, book_like_path(@book), method: :delete
  -#   - else
  -#     %span いいね登録:
  -#     = link_to @book.likes.count, book_likes_path(@book), method: :post
  -#   %span いいね数:
  -#   = @book.likes.count

  //⑥
  -# - if Like.find_by(user_id: current_user.id, book_id: @book.id)
  -# - else
  -#   = link_to("/likes/#{@book.id}/create", {method: "post"})
  -# - if Like.find_by(user_id: current_user.id, book_id: @book.id)
  -#   = link_to("/likes/#{@book.id}/destroy", {method: "post"})
  -# - else
  -#   = link_to("/likes/#{@book.id}/create", {method: "post"})

  -# ⑦
  -# = render partial: 'users/book' 
  -# = render partial: 'users/like' 

  -# ⑧
  -# %span{:id => "book-#{@book.id}-like"}
  -# = render 'shared/likes', book: @book, like: @like

  - if !@book.liked_users.include?(current_user)
    = link_to likes_path(book_id: @book.id), method: :post do
      %i.far.fa-heart.like-btn
  - else
    = link_to likes_path(book_id: @book.id), method: :delete do
      %i.fas.fa-heart.unlike-btn

  = @book.liked_users.count


  - if current_user
    = form_for [@book, @comment] do |f|
      .comment-table
        .comment-table__title
          本についてのコメント
        .comment-area
          = f.text_area :text, class: 'comment_form', placeholder: '-- コメントする --', autofocus: true
          = f.submit 'SEND', class: 'comment-btn'
          .index-title
            コメント一覧
          - if @comments
            - @comments.each do |comment|
              .comment-index
                .comment-set
                  .comment-upper
                    .comment-user-name
                      = link_to comment.user.name, "/users/#{comment.user_id}"
                    .comment-time
                      = comment.created_at.strftime("%Y-%m-%d %H:%M")
                  .comment-lower
                    = comment.text 

= render partial: 'shared/footer_1' 
