.MainDisplay
  = render partial: 'shared/header_1' 

  .title-box
    .icon
      .fa.fa-book
    .content-title
      本の詳細
  .form

    .registers-box
      .Left-side
        .registered-user
          .user-left
            .registant
              登録者
            .name
              = @book.user.name
          .user-image_box
            = link_to users_path do
              = image_tag @user.user_image
        .Left-image_form
          .image-box
            = image_tag @book.image
              
        .title-form
          .title-line
            .title
              タイトル :
          .left-input_result
            = @book.title
      .Right-side
        .upper-box
          .publisher-form
            .title-line
              .title
                出版社 :
            .right-select_box
              = @book.publisher
          .author-form
            .title-line
              .title
                著者 :
            .right-select_box
              = @book.author
        .lower-box
          .item-form
            .title-line
              .title
                ジャンル :
            .right-select_box
              = @book.genre
          .buy_date-form
            .title-line
              .title
                登録者評価 :
            .right-select_box
              = @book.evaluation
        .impression-form
          .title-line
            .title
              チャットスペース  
          .area_box 

  = render partial: 'shared/footer_1' 
                
            