= render partial: 'shared/header_1' 
.MypageHeader 
  %ul.content-list    
    = link_to my_page_user_path(current_user) do    
      %li.content-list__item
        マイページ
    = link_to new_book_path(current_user) do
      %li.content-list__item
        本を登録
    = link_to all_books_user_path(current_user) do
      %li.content-list__item
        マイブック
    = link_to genre_all_book_path(current_user) do    
      %li.content-list__item
        ジャンル
    = link_to evaluation_all_book_path(current_user) do
      %li.content-list__item
        ユーザー評価
    = link_to item_all_user_path(current_user) do
      %li.content-list__item
        読書媒体
.MainDisplay_bs
  .title-box_bs
    .icon
      .fa.fa-book
    .content-title
      本の詳細
  .form_bs
    .registers-box_bs
      .Left-side
        .registered-user
          .user-left
            .registant
              登録ユーザー
            .name
              = link_to @book.user.name, "/users/#{@book.user_id}"
          .user-image_box
            - if @user.user_image.present?
              = image_tag @user.user_image.url
            - else
              = image_tag 'default_user.png', class: "user-icon"
        .Left-image_form
          .image-box_bs
            = image_tag @book.image
        .title-form
          .title-line
            .title
              タイトル :
          .left-input_result_bs
            = @book.title
      .Right-side_bs
        .upper-box
          .publisher-form
            .title-line
              .title
                出版社 :
            .right-select_box
              = @book.publisher
          .author-form
            .title-line
              .title
                著者 :
            .right-select_box
              = @book.author
        .lower-box
          .item-form
            .title-line
              .title
                ジャンル :
            .right-select_box
              = @book.genre
          .buy_date-form
            .title-line
              .title
                ユーザー5段階評価 :
            .right-select_box
              = @book.evaluation
        .update-form
          .title-line
            .title
              最終更新日 :
          .right-select_box_bs
            = @book.updated_at.strftime("%Y-%m-%d")  
        .impression-form_bs
          .title-line
            .title
              登録者レビュー :
        .area_box_bs
          = @book.impression
  - if user_signed_in?
  - else
    .margin-bottom_bs

  - if current_user == @book.user
    .to-edit_btn-box
      = link_to "/books/#{@book.id}/edit", method: :get, class:"to-edit_btn_2" do
        編集画面へ
  - if current_user
    = form_for [@book, @comment] do |f|
      .comment-table
        .comment-table__title
          本についてのコメント
        .comment-area
          = f.text_area :text, class: 'comment_form', placeholder: '-- コメントする --', autofocus: true
          = f.submit 'SEND', class: 'comment-btn'
          .index-title
            コメント一覧
          - if @comments
            - @comments.each do |comment|
              .comment-index
                .comment-set
                  .comment-upper
                    .comment-user-name
                      = link_to comment.user.name, "/users/#{comment.user_id}"
                    .comment-time
                      = comment.created_at.strftime("%Y-%m-%d %H:%M")
                  .comment-lower
                    = comment.text 

= render partial: 'shared/footer_1' 
